language: asm
sudo: false
before_install:
  - source <(curl -SLs https://raw.githubusercontent.com/c64lib/travis-ci/master/install.sh)
script:
  - cpm common https://github.com/c64lib/common/archive/master.tar.gz
  - cpm chipset https://github.com/c64lib/chipset/archive/master.tar.gz 
  - cpm text https://github.com/c64lib/text/archive/master.tar.gz 
  - cpm copper64 https://github.com/c64lib/copper64/archive/master.tar.gz 
  - kall .
notifications:
  email:
    on_success: change
    on_failure: change
deploy:
  provider: releases
  file_glob: false
  file: "bluevessel.prg"
  skip_cleanup: true
  on:
    repo: maciejmalecki/bluevessel
    tags: true
    branch: release
  api-key:
    secure: ZSm1btxjuiJN2fM8RGJLGZO3jRph3o0heWfrMDO9VvjSxEhUksCFySfNdh05lisDAOo6STgPl/Edthhwpr7RcNavoDcxA4bS23kGB6hLBJl2c7/Qv7tqNP71YcagG8UAzyxKRce69j/zXA94WwVJ9tdsLYjkNAWVsrSj7IBmXX+EJd7ndDuWpLs6qvysSeWD441ymEZUoyPsUO2A4dNT+HxMdu/efdnlulEqMFh8j0MCgyIragYsXWkb5t2mY2fAXoJ/dB9jdY8oVCxSz/p0+NJ03YgNUHgDyEbmXv4SH5vM4EiaWDHBzhWU79+uSuPX79awZbl+ujK3cwiIzYWZ0HpLVksvF1u3GxHdz27uYfYWvHVtAuyonyvlg205LhHDa4Wp9yq22npwZSdvT2+93mpouKLfPvJMznFJxfKVz+iusg2Y8/yuDTylqGz+sx8rRhZcPAtntotTdjrv4l5sOp0bZ2qRggVQKuhWG80dnLS6hOsdfeuXk++A9GcGz5y3MyfAcFLB377NGDawPL30RU45m6CWf4EE91EDyz/7pFMbb1CZ9U2BZxu2K9KL+2KKvqntrIUC8oq83iMYk1LQorvYpBrA2AmhaHJxEHLOZ+tnqX7XiqipWQLSycV1dMrhgD+0/VDqZSl9vCYPC0x6buZH1LE1AOeWKMYMFug4Fow=
